<a href="https://colab.research.google.com/github/FelicianoRobles/FisicaComputacional1/blob/master/Actividad3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Actividad3**

## **Paso 1**
Cargar bibliotecas, definir un nuevo DataFrame "dist", leyendo datos climatologicos, en este caso de Los Cabos, Baja California Sur.

In [ ]:
import pandas as pd
import numpy as np

url = 'https://raw.githubusercontent.com/FelicianoRobles/FisicaComputacional1/master/Actividad3/3005.txt'
# Definimos los nombres de las columnas
# El archivo tiene códigos ASCII extendido (Español), encoding='cp1251' Windows (Europa Occidental)
# El separador de datos es de uno o más espacios, sep='\s+'
# Se brincará los primeros 19 renglones y el último, afirmamos que no nay encabezado
# Se procesan los datos utilizando Python, engine='python' 
my_cols = ['Fecha', 'Precip(MM)', 'Evap(MM)', 'Tmax(°C)', 'Tmin(°C)']
df_dist = pd.read_csv(url, names=my_cols, encoding='cp1251', sep='\s+', header=None, skiprows=19, skipfooter=1, engine='python')

## **Paso 2**
Verificar que los renglones seleccionados sean los que solo tengan datos diarios de la estacion meteorologica

In [ ]:
# Verificamos el encabezado y cola del dataframe
print("\033[1m Encabezado \033[0m".center(40," "))
print(df_dist.head(),end="\n\n")
print("\033[1m Cola \033[0m".center(40," "))
print(df_dist.tail(),end="\n\n")

           Encabezado
        Fecha Precip(MM) Evap(MM) Tmax(°C) Tmin(°C)
0  01/06/1937          0     Nulo       33       11
1  02/06/1937          0     Nulo       33       11
2  03/06/1937          0     Nulo       33       11
3  04/06/1937          0     Nulo       32       11
4  05/06/1937          0     Nulo       33       12

              Cola
            Fecha Precip(MM) Evap(MM) Tmax(°C) Tmin(°C)
25846  27/12/2017          0      4.1       32       19
25847  28/12/2017          0      3.5       31       18
25848  29/12/2017          0      4.4       32       19
25849  30/12/2017          0      2.5       28       20
25850  31/12/2017          0      3.3       27       20

# **Paso 3**
Se explora el dataframe con varias acciones

•Se imprime las primeras 10 lineas encabezado y cola del dataframe

In [ ]:
# Imprimir los primeros 10 datos del encabezado del dataframe
print("\033[1m Encabezado \033[0m".center(40," ")) # Centrado y negritas
print(df_dist.head(10),end="\n\n")
# Imprimir los primeros 10 datos de la cola del dataframe
print("\033[1m Cola \033[0m".center(40," ")) # Centrado y negritas
print(df_dist.tail(10),end="\n\n")

           Encabezado
        Fecha Precip(MM) Evap(MM) Tmax(°C) Tmin(°C)
0  01/06/1937          0     Nulo       33       11
1  02/06/1937          0     Nulo       33       11
2  03/06/1937          0     Nulo       33       11
3  04/06/1937          0     Nulo       32       11
4  05/06/1937          0     Nulo       33       12
5  06/06/1937          0     Nulo       33       12
6  07/06/1937          0     Nulo       30       11
7  08/06/1937          0     Nulo       30       10
8  09/06/1937          0     Nulo       30       10
9  10/06/1937          0     Nulo       30       10

              Cola
            Fecha Precip(MM) Evap(MM) Tmax(°C) Tmin(°C)
25841  22/12/2017          0        3       28       18
25842  23/12/2017          0      3.8       28       17
25843  24/12/2017          0      2.2       30       18
25844  25/12/2017          0      2.1       32       17
25845  26/12/2017          0      4.6       31       18
25846  27/12/2017          0      4.1       32       19
25847  28/12/2017          0      3.5       31       18
25848  29/12/2017          0      4.4       32       19
25849  30/12/2017          0      2.5       28       20
25850  31/12/2017          0      3.3       27       20

•Se consigue las dimensiones del dataframe

In [ ]:
# Dimension del dataframe
print("\033[1m La dimension del dataframe es:\033[0m",df_dist.shape) # Negritas

 La dimension del dataframe es: (17879, 5)

•Se consigue como es el contenido del dataframe

In [ ]:
print("\033[1m Contenido del dataframe \033[0m".center(40," ")) # Negritas y centrado
df_dist.info()

    Contenido del dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17879 entries, 0 to 17878
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   17879 non-null  object
 1   Precip  17879 non-null  object
 2   Evap    17879 non-null  object
 3   Tmax    17879 non-null  object
 4   Tmin    17879 non-null  object
dtypes: object(5)
memory usage: 698.5+ KB

•Se hace una copia del dataframe para asi poder modificarlo

In [ ]:
df_copia = df_dist.copy() # Se hace una copia del dataframe
df_copia.head() # Se imprime el encabezado

        Fecha Precip(MM) Evap(MM) Tmax(°C) Tmin(°C)
0  01/06/1937          0     Nulo       33       11
1  02/06/1937          0     Nulo       33       11
2  03/06/1937          0     Nulo       33       11
3  04/06/1937          0     Nulo       32       11
4  05/06/1937          0     Nulo       33       12

•Se reemplaza los datos que contienen 'Nulo' y en su lugar se pone un espacio en blanco

In [ ]:
# Reemplazar Nulo por un espacio en blanco
str_Nulo = 'Nulo'
df_copia2 = df_copia.replace(to_replace=str_Nulo, value='', regex=True)
df_copia2.head()

        Fecha Precip(MM) Evap(MM) Tmax(°C) Tmin(°C)
0  01/06/1937          0                33       11
1  02/06/1937          0                33       11
2  03/06/1937          0                33       11
3  04/06/1937          0                32       11
4  05/06/1937          0                33       12

•Se convierten los datos a datos numericos, mas especificamente, flotantes

In [ ]:
# Se convierten a números flotantes 
cols_list = ['Precip(MM)', 'Evap(MM)', 'Tmax(°C)', 'Tmin(°C)']
for cols in cols_list:
  df_copia2[cols] = pd.to_numeric(df_copia2[cols], errors='coerce')
df_copia2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25851 entries, 0 to 25850
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fecha       25851 non-null  object
 1   Precip(MM)  25828 non-null  float64
 2   Evap(MM)    6113 non-null   float64
 3   Tmax(°C)    24972 non-null  float64
 4   Tmin(°C)    24963 non-null  float64
dtypes: float64(4), object(1)
memory usage: 1009.9+ KB

•Se contrasta la informacion del dataframe modificado

In [ ]:
# Imprimimos la información actualizada del dataframe
print("\033[1m Contenido del dataframe actualizado \033[0m".center(40," "))
df_copia2.info()
print(df_copia2.head())

 Contenido del dataframe actualizado
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25851 entries, 0 to 25850
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fecha       25851 non-null  object
 1   Precip(MM)  25828 non-null  float64
 2   Evap(MM)    6113 non-null   float64
 3   Tmax(°C)    24972 non-null  float64
 4   Tmin(°C)    24963 non-null  float64
dtypes: float64(4), object(1)
memory usage: 1009.9+ KB
        Fecha  Precip(MM)  Evap(MM)  Tmax(°C)  Tmin(°C)
0  01/06/1937         0.0       NaN      33.0      11.0
1  02/06/1937         0.0       NaN      33.0      11.0
2  03/06/1937         0.0       NaN      33.0      11.0
3  04/06/1937         0.0       NaN      32.0      11.0
4  05/06/1937         0.0       NaN      33.0      12.0

•Se cuenta el numero de datos faltantes en las variables

In [ ]:
# De la instrucción anterior, vemos que hay valores faltantes. Sumamos los valores nulos. 
df_copia2.isnull().sum()

Fecha             0
Precip(MM)       23
Evap(MM)      19738
Tmax(°C)        879
Tmin(°C)        888
dtype: int64

•Se imprime el encabezado y cola del dataframe modificado

In [ ]:
# Imprimir el encabezado del dataframe modificado
print("\033[1m Encabezado \033[0m".center(40," ")) # Centrado y negritas
print(df_copia2.head(),end="\n\n")
# Imprimir la cola del dataframe modificado
print("\033[1m Cola \033[0m".center(40," ")) # Centrado y negritas
print(df_copia2.tail(),end="\n\n")

           Encabezado
        Fecha  Precip(MM)  Evap(MM)  Tmax(°C)  Tmin(°C)
0  01/06/1937         0.0       NaN      33.0      11.0
1  02/06/1937         0.0       NaN      33.0      11.0
2  03/06/1937         0.0       NaN      33.0      11.0
3  04/06/1937         0.0       NaN      32.0      11.0
4  05/06/1937         0.0       NaN      33.0      12.0

              Cola
            Fecha  Precip(MM)  Evap(MM)  Tmax(°C)  Tmin(°C)
25846  27/12/2017         0.0       4.1      32.0      19.0
25847  28/12/2017         0.0       3.5      31.0      18.0
25848  29/12/2017         0.0       4.4      32.0      19.0
25849  30/12/2017         0.0       2.5      28.0      20.0
25850  31/12/2017         0.0       3.3      27.0      20.0

•Se realiza una estadistica basica de las variables numericas del dataframe modificado

In [ ]:
# Un análisis estadístico breve de las variables numéricas redondeado a 2 cifras significativas
df_copia2.describe().round(2)

       Precip(MM)  Evap(MM)  Tmax(°C)  Tmin(°C)
count    25828.00   6113.00  24972.00  24963.00
mean         0.64      6.15     29.95     18.13
std          6.98      2.77      4.00      4.89
min          0.00      0.00     17.00      1.50
25%          0.00      4.20     27.00     14.00
50%          0.00      6.30     30.00     18.00
75%          0.00      8.10     33.00     22.00
max        400.00     16.00     44.00     34.00

# **Paso 4**
Analisis de la variable Fecha

•Se crea una copia del dataframe

In [91]:
df_copia3 = df_copia2.copy() # Se hace una copia del dataframe
df_copia3['Fecha'].head() # Se imprime el encabezado

0    01/06/1937
1    02/06/1937
2    03/06/1937
3    04/06/1937
4    05/06/1937
Name: Fecha, dtype: object

•Se convierte el objeto Fecha a formato de fecha que comparte

In [93]:
df_copia3['Fecha']=pd.to_datetime(df_copia3['Fecha'], dayfirst=True).copy()
df_copia3['Fecha'].head()

0   1937-06-01
1   1937-06-02
2   1937-06-03
3   1937-06-04
4   1937-06-05
Name: Fecha, dtype: datetime64[ns]

•Se verifica que los datos tengan el formato adecuado

In [94]:
df_copia3.dtypes

Fecha         datetime64[ns]
Precip(MM)           float64
Evap(MM)             float64
Tmax(°C)             float64
Tmin(°C)             float64
dtype: object

•Se agregan dos columnas, una para el año y otra para el mes

In [ ]:
df_copia3['Año'] = df_copia3['Fecha'].dt.year
df_copia3['Mes'] = df_copia3['Fecha'].dt.month

•Se verifica que se haya agregado exitosamente

In [98]:
print(df_copia3.head())
print(df_copia3.tail())

       Fecha  Precip(MM)  Evap(MM)  Tmax(°C)  Tmin(°C)   Año  Mes
0 1937-06-01         0.0       NaN      33.0      11.0  1937    6
1 1937-06-02         0.0       NaN      33.0      11.0  1937    6
2 1937-06-03         0.0       NaN      33.0      11.0  1937    6
3 1937-06-04         0.0       NaN      32.0      11.0  1937    6
4 1937-06-05         0.0       NaN      33.0      12.0  1937    6
           Fecha  Precip(MM)  Evap(MM)  Tmax(°C)  Tmin(°C)   Año  Mes
25846 2017-12-27         0.0       4.1      32.0      19.0  2017   12
25847 2017-12-28         0.0       3.5      31.0      18.0  2017   12
25848 2017-12-29         0.0       4.4      32.0      19.0  2017   12
25849 2017-12-30         0.0       2.5      28.0      20.0  2017   12
25850 2017-12-31         0.0       3.3      27.0      20.0  2017   12

•Por ultimo se verifica que las variables tengan el tipo adecuado

In [99]:
df_copia3.dtypes

Fecha         datetime64[ns]
Precip(MM)           float64
Evap(MM)             float64
Tmax(°C)             float64
Tmin(°C)             float64
Año                    int64
Mes                    int64
dtype: object